# **Video Game Sales Analysis**

### **Objectives**

* Load dataset downloaded from Kaggle
* Transform datset
* Store tranformed data for analysis 
* Identify key factors with video game sales
* Create Hypotheses
* Develop visualisations from the data
* Build (machine learning graphs) to predict....

### **Inputs**

* Dataset: VideoGamesSales.csv @ https://www.kaggle.com/datasets/thedevastator/global-video-game-sales-and-reviews/data
* Libraries: Pandas, NumPy, Seaborn, Maplotlib, Scikit-learn

### **Outputs**

* **Clean data:** New processed data csv file which can now be used for analysis - vgsales_cleaned.csv
* **Data types**
* **Locate and change missing values**
* **Check for duplicates**
* **Consideration with data privacy and ethics**
* **Visualisations**
* **Data Analysis**
* **Compare statistics**
* **Create reports**

Import all the necessary libraries

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as snas
import plotly.express as px

Load the data

In [2]:
df = pd.read_csv('Data/vgsales_cleaned.csv')
df.head()

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00